<!--BEGIN NAVAGATION-->
    <ul class="nav">
        <li><a href="/trips">Trending Trips</a></li>
        <!-- WHERE DO WE PASS USER OBJECT TO THIS TEMPLATE??? -->
        <li><a href="/users/<%=userId%>">My Trips</a></li>
        <li><a href="/users/logout">Logout</a></li>
    </ul>
<!--END NAVIGATION-->