<!--BEGIN NAVAGATION-->
    <ul class="nav">
        <li><a href="/trips">Trending Trips</a></li>
        <!-- CHECK USER ID IF PAGE FAILS TO RENDER -->
        <li><a href="/users/<%=userId%>">My Trips</a></li>
        <li><a href="/users/logout">Logout</a></li>
    </ul>
<!--END NAVIGATION-->