<!--BEGIN NAVAGATION-->
    <ul class="nav">
        <li><a href="/trips">Trending Trips</a></li>
        <!-- ANY TEMPLATE THAT CALLS THIS NEEDS userId VARIABLE PASSED TO IT (SEE TRIPS INDEX ROUTE) -->
        <li><a href="/users/<%=userId%>">My Trips</a></li>
        <li><a href="/users/logout">Logout</a></li>
    </ul>
<!--END NAVIGATION-->