<!DOCTYPE html>
<html>
    <head>
        <%-include ('../partials/head.ejs')%>
    </head>
    <body>
        <nav>
            <%-include ('../partials/nav.ejs')%>
        </nav>
        <h1>This is the form to create a new trip</h1>
        <form action="/trips/new/<%=user._id%>" method="POST">
            <label for="destinationCity">Destination City:</label>
            <input type="text" name="destinationCity" required>
            <label for="destinationCountry">Destination Country:</label>
            <input type="text" name="destinationCountry">  
            <button type="submit">Create Trip</button>        
        </form>
        <script src="" async defer></script>
    </body>
</html>