<!DOCTYPE html>
<html>
    <head>
        <%-include ('../partials/head.ejs')%>
    </head>
    <body>
        <nav>
            <%-include ('../partials/nav.ejs')%>
        </nav>
        <h1>This is the form to create a new trip</h1>
        <script>
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
        <form action="/trips/new/<%=user._id%>" method="POST">
            <input id="searchTextField" type="text" size="50" placeholder="Enter a location" autocomplete="on" runat="server" />  
            <!-- <input type="hidden" id="city2" name="destinationCity" />  -->
            <!-- <input type="hidden" id="cityLat" name="cityLat" />
            <input type="hidden" id="cityLng" name="cityLng" /> -->
            <button type="submit">Create Trip</button> 
        </form>
    </body>
</html>
